.evercon-logo {
    width: 12rem;
    height: 3.2rem;

    @include breakpoint(desktop-sm) {
        width: 15rem;
        height: 4rem;
    }

    @include breakpoint(desktop) {
        width: 18rem;
        height: 4.8rem;
    }

}