html, body {
    font-size: 62.5%;
    line-height: 1.5;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--color-zircon);
    -webkit-font-smoothing: antialiased;
}

.heading-2 {
    font-size: var(--h2-font-size);
    font-weight: 600;
    line-height: var(--line-height-sm);
    text-transform: uppercase;
}

.heading-3 {
    font-size: var(--h3-font-size);
    font-weight: 600;
    color: var(--color-zircon);
    text-transform: uppercase;
}


.heading-4 {
    font-size: var(--h4-font-size);
    font-weight: 600;
}

.heading-5 {
    font-size: var(--h5-font-size);
    font-weight: 600;
}

.highlight {
    color: var(--color-red-ribbon);
}

mark {
    padding: 0 0.4rem;
    background-color: var(--color-yankees-blue);
    color: var(--color-white);
}

.nowrap {
    white-space: nowrap;
}

.description {
    font-size: var(--font-size-ms);
    line-height: var(--line-height-sm);

    @include breakpoint(desktop-sm) {
        font-size: var(--font-size-lg);
    }

    @include breakpoint(desktop) {
        font-size: var(--font-size-2xl);
    }
}

:root {

    @include breakpoint(desktop-sm) {
        --h2-font-size: var(--font-size-2xl);
        --h3-font-size: var(--font-size-2xl);
        --h4-font-size: var(--font-size-lg);
        --h5-font-size: var(--font-size-lg);
    }

    @include breakpoint(desktop) {
        --h2-font-size: var(--font-size-3xl);
        --h4-font-size: var(--font-size-2xl);
    }
}